<div class="page-body">
  <h2 class="index-header">Please review the following booking requests</h2>

    <% @bookings.each do |booking| %>
      <div class="booking-bar">
        <img src = 'https://www.escoffier.edu/wp-content/uploads/2016/02/Smiling-female-chef-with-white-hat-and-uniform-in-a-kitchen-e1611773135718.jpg' class="avatar-large"/>
          <div class="booking-content align-item" >
            <p><small><%= booking.date %></small></p>
            <p class="title"><strong><%= booking.offer.title %></strong></p>
            <p>Cuisine : <%= booking.offer.cuisine %></p>
            <p>Description : <%= booking.offer.description %></p>
            <p>Guests : <%= booking.guests %></p>
          </div>
          <div class="booking-status d-flex justify-content-end px-3 ">
            <p class="btn btn-secondary"><em><%= booking.status %></em></p>
          </div>
      </div>
    <% end %>
  <%# list.photo.attached? ? cl_image_path(list.photo.key) :  %>
  <% @bookings_as_chef.each do |booking| %>
      <div class="booking-bar">
          <img src = 'https://www.escoffier.edu/wp-content/uploads/2016/02/Smiling-female-chef-with-white-hat-and-uniform-in-a-kitchen-e1611773135718.jpg' class="avatar-large"/>
            <div class="booking-content">
              <p><small><%= booking.date %></small></p>
              <p class="title"><strong><%= booking.offer.title %></strong></p>
              <p>Cuisine : <%= booking.offer.cuisine %></p>
              <p>Description : <%= booking.offer.description %></p>
              <p>Guests : <%= booking.guests %></p>
              </div>
            <div class="booking-status d-flex justify-content-end px-3 gap-3 ">
              <p class="btn btn-secondary"><em><%= booking.status %></em></p>
            </div>
        </div>

      <% if booking.status == 'pending' %>
                <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-success' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-danger' %>
                <% end %>
        <% end %>
    <% end %>
</div>
