<%= link_to("See bookings", bookings_path(current_user), class: "btn btn-outline-secondary my-3") %>

<%= link_to("Make new offer", new_offer_path, class: "btn btn-outline-secondary my-3") %>
<div class="container card-row gap-3 ">
      <% @offers.each do |offer| %>
        <div class="card in-line shadow " style="width: 18rem">
        <%= image_tag "http://source.unsplash.com/featured/?#{offer.title}>&#{rand(1000)}", class: 'offer-thumbnail' %>
        <div class="card-body align-center">
        <h5 class="card-title"> <%= offer.title %> </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"> <%= offer.cuisine %> </h6>
        <p class="card-text"> $ <%= offer.price_pp %> </p>
        <%= link_to("...read more", offer_path(offer), class: "btn btn-outline-secondary") %>
    </div>
  </div>
      <% end %>
</div>
