
<!-- Parent container to hold all the card-rows -->
<div id="parent-container" data-controller="index" data-index-target="parent" data-total-offers="<%= @total_offers %>">
  <div class="card-row">
    <% @offers.each_with_index do |offer, index| %>
      <% grid_class = "div#{index + 1}" %>
      <div data-controller="card"
          class="card-offer <%= grid_class %> in-line image-container align-items-end justify-content-center"
          <% if offer.img.present? %>
            <% url = offer.img %>
          <% else %>
            <% if offer.photos.attached? %>
              <% url = cl_image_path(offer.photos[0].key) %>
            <% else %>
              <% url = "https://images.squarespace-cdn.com/content/59488c7dbf629aaeded8b9b1/1556478492296-CRA46VU26F25E2PSG092/yoshi_April2019_1.jpg" %>
            <% end %>
          <% end %>
          style="background-image: url(<%= url%>)">
        <%= content_tag :div, '', class: 'clickable-overlay', data: { action: 'click->index#click', url: offer_path(offer) } %>
        <div>
          <h4 class="<%= grid_class %>card mb-0" ><%= offer.title %></h4>
          <p id="<%= grid_class %>"class="card-subtitle"><%= offer.cuisine %> / $<%= offer.price_pp %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="load-more-button mt-4">
    <%= link_to "Load More Offers", "#", data: { action: "click->index#loadMore" }, class:'text-decoration-none text-muted' %>
  </div>
</div>

<div class="container my-3">
  <%= render 'offers/map', markers: @markers %>
</div>
